/* Layout for the application */

html, body{
    width:100%;
    height:100%;
    overflow: hidden;
    background: #fff;
}

body{
    display: flex;
    flex-direction: column;
    position: relative;
}

sidebar{
    flex: 0 0 200px;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
}

body > header{
    flex: 0 0 34px;
    background: #111111;
    color: #FFFFFF;
}

body > header img{
    border: 0;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

body > header > h1{
    margin: 0;
    display: inline;
    padding: 7px;
    font-size: 20px;
    color: #fff;
    vertical-align: top;
    line-height: 34px;
}

.menu{
    flex: 0 0 34px;
    background-color: #666666;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

.menu button{
    background-color: #666666;
    color: #FFFFFF;
    border-radius: 5px;
    border: 2px #111111 outset;
    margin: 3px;
    font-size: 18px;
}

.tabs-menu{
    flex: 0 0 34px;
    background-color: yellowgreen;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
    position: relative;
    white-space: nowrap;
    border: 1px solid #000;    
}
/*.tabs-menu:after{
    position: absolute;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    
    z-index: 1;
}*/
.tabs-menu button{
    margin: 0 10px;
    padding: 0 10px;
    border: 2px #111111 outset;
    background-color: #666666;
    color: #FFFFFF;
    display: inline-block;
    height: 30px;
    width: 150px;
}
.tabs-menu button[pressed='true']{
    background-color: #FFFFFF;
    color: #666666;
}
/* Show trash for sidebar while dragging */

sidebar.trashcan > wb-search, sidebar.trashcan wb-accordion{
    display: none;
}

sidebar.trashcan:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-image: url("../images/icon/recycle.svg");
    background-size: contain;
    background-position: 50%;
    z-index: 100;
}

/* Feedback area for messages */

.feedback{
    position: relative;
    border: 2px #CCC inset;
    font-size: 20px;
    padding: 5px 20px;
}

.feedback:empty:after{
    content: "messages"; /* FIXME: No text allowed in CSS! */
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    padding: 5px 20px;
    font-weight: bold;
    color: #CCC;
    z-index: -1;
}

/* Format Workspace */

wb-workspace > wb-contains{
    border: 2px inset #CCC;
    position: relative;
}

wb-contains:empty::before{
    display: block;
    content: "Drag Blocks Here"; /* FIXME: Localization problem, all localizable content should be in HTML text */
    width: 100%;
    height: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;

}


/* Accordion Colors and Icons */
wb-accordion.control > header:after{ background-color: hsl(0, 93%, 56%); }
wb-accordion.sprite > header:after{ background-color: hsl(156, 93%, 56%); }
wb-accordion.music > header:after{ background-color: hsl(312, 93%, 56%); }
wb-accordion.sound > header:after{ background-color: hsl(108, 93%, 56%); }
wb-accordion.array > header:after{ background-color: hsl(264, 93%, 56%); }
wb-accordion.boolean > header:after{ background-color: hsl(60, 93%, 56%); }
wb-accordion.canvas > header:after{ background-color: hsl(216, 93%, 56%); }
wb-accordion.color > header:after{ background-color: hsl(12, 93%, 56%); }
wb-accordion.image > header:after{ background-color: hsl(168, 93%, 56%); }
wb-accordion.math > header:after{ background-color: hsl(324, 93%, 56%); }
wb-accordion.random > header:after{ background-color: hsl(120, 93%, 56%); }
wb-accordion.vector > header:after{ background-color: hsl(276, 93%, 56%); }
wb-accordion.object > header:after{ background-color: hsl(72, 93%, 56%); }
wb-accordion.string > header:after{ background-color: hsl(228, 93%, 56%); }
wb-accordion.path > header:after{ background-color: hsl(24, 93%, 56%); }
wb-accordion.point > header:after{ background-color: hsl(180, 93%, 56%); }
wb-accordion.rect > header:after{ background-color: hsl(336, 93%, 56%); }
wb-accordion.sense > header:after{ background-color: hsl(132, 93%, 56%); }
wb-accordion.motion > header:after{ background-color: hsl(288, 93%, 56%); }
wb-accordion.shape > header:after{ background-color: hsl(84, 93%, 56%); }
wb-accordion.geolocation > header:after{ background-color: hsl(240, 93%, 56%); }
wb-accordion.size > header:after{ background-color: hsl(192, 93%, 56%); }
wb-accordion.text > header:after{ background-color: hsl(348, 93%, 56%); }


.tutorial{
    margin: 0 auto;
    width: 100%;
    flex-direction: column;
    overflow: auto;
}

.tutorial-header{
    border-style: solid;
    border-width: 1px;
    padding: 10px 10px;
    background-color: slateblue;
    font-size: 35px;
    position: relative;
    height: 30px;
    max-height: 30px;
    min-height: 30px;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    flex-direction: row;
    white-space: nowrap;
    overflow-x: visible;
    min-width: 750px;
}
.tutorial-header > h1{
    padding-left:20px;
    display: inline-block;
}
.tutorial-header > h2{
    padding-right:20px;
    display: inline-block;
    float:right;
}
.tutorial-header > select{
    display: inline-block;
    width: 200px;
}
.tutorial-main{
    background-color: palegoldenrod;
    display: inline-block;
    height: 400px;
    min-height: 350px;  
    max-height: 400px;
    position: relative;
    margin: 0 auto;
    width: 100%;
    flex-direction: row;
    white-space: nowrap;
    overflow-x: visible;
    min-width: 750px;
}
.tutorial-output{
    display: inline-block;
    height: 250px;
    max-height: 250px;
    min-height: 250px;
    background: coral;
    position: relative;
    margin: 0 auto;
    padding-bottom: 10px;
    width: 100%;
    flex-direction: row;
    font-size:20px;
    white-space: nowrap;
    overflow-x: visible;
    min-width: 750px;
}
.tutorial-output > div{
    flex-direction: column;
    padding: 10px 10px;
    display: inline-block;
}
.tutorial-output > div > img, .tutorial-output > div > canvas{
    flex-direction: column;
    padding-top: 10px;
    border: black;
    border-style: solid;
    border-width: 4px;
    margin-top: 10px;
    width: 250px;
    height: 190px;
    
}
.tutorial-finished{
    display: inline-block;
    height: 500px;
    max-height:0px;
    min-height: 0px;
    background: violet;
    position: relative;
    margin: 0 auto;
    width: 100%;
    flex-direction: row;
    white-space: nowrap;
    overflow-x: visible;
    min-width: 750px;
}
.tutorial-finished[completed=true]{
    padding-top: 20px;
    max-height:500px;
    min-height:500px;
}
.tutorial-next{
    flex-direction: row;
}
.tutorial-next > img{
    width: 250px;
    height: 190px;
}
.tutorial-next > div > button{
    background-color: yellow;
    color: #000000;
    border-radius: 5px;
    border: 2px #111111 outset;
    margin: 3px;
    font-size: 18px;
    margin-top: 20px;
}
.tutorial-next > *{
    display: inline-block;
    padding-left: 100px;
    font-size:30px;
}
.tutorial-next > div{
    vertical-align: top;
    padding-top: 20px;
    padding-left: 50px;
}
.tutorial-desc{
    background-color: white;
    display: inline-block;
    height: 90%;
    max-height: 315px;
    position: relative;
    width: 90%;
    border: black;
    border-style: solid;
    border-width: 1px;
    top: 10px;
    left: 10px;
    flex-direction: row;
    overflow-y:auto;
}
.complete{
    background-color:yellow;
    vertical-align: top;
    margin-top: 50px;
}
.complete button{
    background-color: #666666;
    color: #FFFFFF;
    border-radius: 5px;
    border: 2px #111111 outset;
    margin: 3px;
    font-size: 18px;
    margin-top: 20px;
}
.tutorial-solution{
    background-color: white;
    display: inline-block;
    max-height: 250px;
    position: relative;
    width: 90%;
    border: black;
    border-style: solid;
    border-width: 1px;
    overflow-y:auto;
    margin-top:20px;
    margin-left:30px;
}

/* Prevent selecting text while dragging */
.dragging *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
