/* Layout for the application */

html, body{
    width:100%;
    height:100%;
    overflow: hidden;
    background: #fff;
}

body{
    display: flex;
    flex-direction: column;
    position: relative;
}

sidebar{
    flex: 0 0 200px;
    overflow-y: auto;
    overflow-x: auto;
    position: relative;
}

body > header{
    flex: 0 0 34px;
    background: #111111;
    color: #FFFFFF;
}

body > header img{
    border: 0;
    padding-top: 4px;
    padding-left: 10px;
    padding-right: 10px;
}

body > header > h1{
    margin: 0;
    display: inline;
    padding: 7px;
    font-size: 20px;
    color: #fff;
    vertical-align: top;
    line-height: 34px;
}

.menu{
    flex: 0 0 34px;
    background-color: #666666;
    color: #FFFFFF;
    margin: 0px;
    padding: 0px;
}

.menu button[disabled] {
    color: #999;
    border-color: #333;
}

.menu button, .menu a, .do-run, .do-stop{

    background-color: #666666;
    color: #FFFFFF;
    border-radius: 5px;
    border: 2px #111111 outset;
    margin: 3px;
    font-size: 18px;
}

.menu a{
    float: right;
    text-decoration: none;
    padding: 2px 6px 3px;
    display: inline-block;
}

.tabs-menu{
    flex: 0 0 34px;
    color: #FFFFFF;
    margin: 0px;
    padding-top: 4px;
    padding-left: 6px;

    position: relative;
    white-space: nowrap;
    border: none;
    background-color: #666666;
    height: 34px;
}

.tabs-menu button{
    border: 2px solid #111111;
    border-radius: 5px;
    background-color: #666666;
    color: #FFFFFF;
    height: 30px;
    width: 150px;
}
.tabs-menu button[pressed='true']{
    background-color: #C4C4C4;
    color: #666666;
}
/* Show trash for sidebar while dragging */

sidebar.trashcan > wb-search, sidebar.trashcan wb-accordion{
    display: none;
}

sidebar.trashcan:after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-image: url("../images/icon/recycle.svg");
    background-size: contain;
    background-position: 50%;
    z-index: 100;
}

/* Feedback area for messages */

.feedback{
    position: relative;
    border: 2px #CCC inset;
    font-size: 20px;
    padding: 5px 20px;
}

.feedback:empty:after{
    content: "messages"; /* FIXME: No text allowed in CSS! */
    position: absolute;
    top: 0;
    left: 0;
    font-size: 20px;
    padding: 5px 20px;
    font-weight: bold;
    color: #CCC;
    z-index: -1;
}

/* Format Workspace */

wb-workspace > wb-contains{
    border: 2px inset #CCC;
    position: relative;
}

wb-contains:empty::before{
    display: block;
    content: "Drag Blocks Here"; /* FIXME: Localization problem, all localizable content should be in HTML text */
    width: 100%;
    height: 20px;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;

}


/* Accordion Colors and Icons */
wb-accordion.control > header:after{ background-color: hsl(0, 53%, 56%); }
wb-accordion.sprite > header:after{ background-color: hsl(156, 53%, 56%); }
wb-accordion.music > header:after{ background-color: hsl(312, 53%, 56%); }
wb-accordion.sound > header:after{ background-color: hsl(108, 53%, 56%); }
wb-accordion.array > header:after{ background-color: hsl(264, 53%, 56%); }
wb-accordion.boolean > header:after{ background-color: hsl(60, 53%, 56%); }
wb-accordion.canvas > header:after{ background-color: hsl(216, 53%, 56%); }
wb-accordion.color > header:after{ background-color: hsl(12, 53%, 56%); }
wb-accordion.image > header:after{ background-color: hsl(168, 53%, 56%); }
wb-accordion.math > header:after{ background-color: hsl(324, 53%, 56%); }
wb-accordion.random > header:after{ background-color: hsl(120, 53%, 56%); }
wb-accordion.vector > header:after{ background-color: hsl(276, 53%, 56%); }
wb-accordion.object > header:after{ background-color: hsl(72, 53%, 56%); }
wb-accordion.string > header:after{ background-color: hsl(228, 53%, 56%); }
wb-accordion.path > header:after{ background-color: hsl(24, 53%, 56%); }
wb-accordion.point > header:after{ background-color: hsl(180, 53%, 56%); }
wb-accordion.rect > header:after{ background-color: hsl(336, 53%, 56%); }
wb-accordion.sense > header:after{ background-color: hsl(132, 53%, 56%); }
wb-accordion.motion > header:after{ background-color: hsl(288, 53%, 56%); }
wb-accordion.shape > header:after{ background-color: hsl(84, 53%, 56%); }
wb-accordion.geolocation > header:after{ background-color: hsl(240, 53%, 56%); }
wb-accordion.size > header:after{ background-color: hsl(192, 53%, 56%); }
wb-accordion.text > header:after{ background-color: hsl(348, 53%, 56%); }



/* Tutorial Tab*/
.tutorial{
    width: 100%;
    flex-direction: column;
    overflow: auto;
}

.tutorial-header{
    padding: 10px 10px;
    font-size: 35px;
    min-height: 30px;
    width: 100%;
    min-width: 500px;
}

.tutorial-main{
    height: 400px;
    min-height: 350px;
    max-height: 400px;
    width: 100%;
    min-width: 500px;
    overflow-x: visible;
}

.tutorial-desc{
    height: 90%;
    max-height: 315px;
    width: 90%;
    border: 2px solid black;
    border-radius: 2px;
    margin: 10px;
    padding: 10px;
    flex-direction: row;
    overflow-y:auto;
}

.tutorial-output{
    height: 250px;
    max-height: 250px;
    min-height: 250px;
    width: 100%;
    min-width: 500px;
    font-size:20px;
}

.tutorial-actions{
    height: 30px;
    max-height: 30px;
    min-height: 30px;
    padding-bottom: 10px;
    width: 100%;
    font-size:20px;
    min-width: 500px;
}

.tutorial-output > div{
    padding: 10px;
}
.tutorial-output > div > img, div.canvas-holder{
    flex-direction: column;
    border: black;
    border-style: solid;
    border-width: 4px;
    margin-top: 20px;
    width: 250px;
    height: 190px;   
}
.tutorial-output > div > div.canvas-holder{
    margin-top:7px;
    
}


.tutorial-finished{
    display: inline-block;
    height: 500px;
    max-height:0px;
    min-height: 0px;
    width: 100%;
    flex-direction: row;
    overflow-x: visible;
    min-width: 500px;
    margin: 10px;
}

.tutorial-finished[completed=true]{
    max-height:500px;
    min-height:500px;
}

.tutorial-next{
    flex-direction: row;
    margin: 10px;
}

.tutorial-next > div > img{
    height: 100px;
}

.congrats{
    float: left;
}

.tutorial-next > div > button{
    color: #000000;
    border-radius: 5px;
    border: 2px #111111 outset;
    font-size: 18px;
}

.complete button{
    background-color: #666666;
    color: #FFFFFF;
    border-radius: 5px;
    border: 2px #111111 outset;
    margin: 3px;
    font-size: 18px;
}

.tutorial-solution{
    max-height: 250px;
    min-height: 250px;
    width: 90%;
    border: 1px solid black;
    overflow-y:auto;
    clear: both;
}

.tutorial-hidden{
    display:none;
}

/* Prevent selecting text while dragging */
.dragging *{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
