/* Custom Elements for Waterbear blocks */

wb-step, wb-context, wb-expression{
    display: inline-block;
    background-color: #EDE378;
    border-radius: 5px;
    border-color: #CEBD3E;
    border-width: 2px;
    border-style: solid;
    float: left;
    clear: left;
    position: relative;

    cursor: move;
    /* More appropriate, but less compatible. */
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

wb-expression{
    border-radius: 0;
    text-align: right;
}

wb-value > wb-expression{
    float: none;
    clear: none;
}

wb-value select{
    min-width: 5em;
}

wb-step.dragging, wb-context.dragging, wb-expression.dragging{
    opacity: 0.5;
    position: absolute;
    /* Necessary for dragging events. */
    pointer-events: none;
}

/* This class is probably added on the body or the workspace container. */
.block-dragging {
    cursor: move !important;
    /* More appropriate, but less compatible. */
    cursor: -moz-grabbing !important;
    cursor: -webkit-grabbing !important;
}

wb-expression > header{
    margin-left: 15px;
}

wb-value{
    display: block;
    text-align: right;
    margin-left: 20px;
}

wb-row{
    display: block;
    text-align: right;
    margin-left: 20px;
    white-space: nowrap;
}

wb-row > wb-value, wb-row > wb-local{
    display: inline-block;
    margin-left: 0;
}

wb-value > * {
    vertical-align: middle;
    margin: 0px 5px;
}

wb-value > input[type=color]{
    padding: 0;
}

wb-unit{
    display: inline-block;
}

wb-local{
    display: inline-block;
}

wb-local[fortype]{
    display: none;
}

wb-local[fortype].show{
    display: inline-block;
}

wb-context > wb-contains {
    display: block;
    background-color: rgba(255, 255, 255, 1.0);
    position: relative;
    padding-top: 10px;
    margin-left: 10px;
    margin-bottom: 0;
    padding-bottom: 1px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-width: 2px 0 2px 2px;
    border-style: solid;
    border-color: inherit;
    border-right: 0;
    right: -3px;
}

wb-context > wb-contains:last-child:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

wb-disclosure{
    position: relative;
}

wb-context > header > wb-disclosure:after{
    content: "▼";
    width: 1em;
    height: 1em;
    position: absolute;
    top: 5px;
    left: 0px;
}

wb-context[closed] > header > wb-disclosure:after{
    content: "▶";
}

wb-context[closed] > wb-contains{
    display: none;
}

.hide{
    display: none;
}

/* almost hide, but leave enough that it still has a bounding box */
.singularity{
    max-height: 1px;
    overflow: hidden;
}

wb-expression:before{
    content: '';
    width: 15px;
    height: 15px;
    display: block;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    background-size: contain;
    /* Over-ride background-image for each type of expression */
}

wb-expression[type=number]:before{ background-image: url(../images/icon/math.svg); }
wb-expression[type=color]:before{ background-image: url(../images/icon/color.svg); }
wb-expression[type=text]:before{ background-image: url(../images/icon/text.svg); }
wb-expression[type=boolean]:before{ background-image: url(../images/icon/boolean.svg); }
wb-expression[type=sprite]:before{ background-image: url(../images/icon/sprite.svg); }
wb-expression[type=any]:before{ background-image: url(../images/icon/control.svg); }
wb-expression[type=sound]:before{ background-image: url(../images/icon/sound.svg); }
wb-expression[type=array]:before{ background-image: url(../images/icon/array.svg); }
wb-expression[type=image]:before{ background-image: url(../images/icon/image.svg); }
wb-expression[type=shape]:before{ background-image: url(../images/icon/shape.svg); }
wb-expression[type=vector]:before{ background-image: url(../images/icon/vector.svg); }
wb-expression[type=object]:before{ background-image: url(../images/icon/object.svg); }
wb-expression[type=path]:before{ background-image: url(../images/icon/path.svg); }
wb-expression[type=point]:before{ background-image: url(../images/icon/point.svg); }
wb-expression[type=rect]:before{ background-image: url(../images/icon/rect.svg); }

/* Used for input resizing */
.sekrit-svg{
    position: absolute;
    left: -1000px; /* cannot get size if display: none */
    top: 0; /* because it was screwing up layout even hidden */
    width: 400px;
    height: 100px;
}

.wb-icons{
    display: none;
}


