/* Custom Elements that are not necessarily Waterbear specific */

wb-search, wb-accordion{
    display: block;
}

/* HBOX, VBOX layout widgets */

wb-hbox, wb-vbox{
    display: flex;
    flex: 1 1;
    position: relative;
    overflow: hidden;
}
wb-hbox{
    flex-direction: row;
    width: 100%;
    height: 100%;
}
wb-vbox{
    position: relative;
    flex-direction: column;
    max-height: 100%;
}
wb-leftbox, wb-rightbox{
    flex-direction: column;
}
wb-workbox, wb-displaybox{
    display: flex;
    flex: 1 1;
    position: relative;
    overflow: hidden;
    flex-direction: row;
    height: 80%;
}
wb-displaybox{
    border-color: #000000;
    border-width: medium;
    border-style: solid;
}

wb-displaybox:not([selected='true']){
    display: none;
}
wb-hbox > *{
    flex: 1 1 auto;
}

wb-vbox > *{
    flex: 1 1 auto;
}


wb-splitter{
    display: block;
    z-index: 100;
    flex: 0 0 8px;
}

wb-hbox > wb-splitter, wb-workbox > wb-splitter{
    background-image: linear-gradient(90deg, transparent 4px, rgba(218, 218, 218, 0.5) 4px, transparent 5px);
    background-size: 8px 8px;
    cursor: ew-resize;
}

wb-vbox > wb-splitter{
    background-image: linear-gradient(0deg, transparent 4px, rgba(218, 218, 218, 0.5) 4px, transparent 5px);
    background-image-size: 8px 8px;
    cursor: ns-resize;
}

/* Workspace */

wb-workspace{
    display: flex;
    flex-direction: column;
    flex: 2 1;
}

wb-workspace > header{
    flex: 0 0 34px;
}

wb-workspace > output{
    flex: 0 0 34px;
}

wb-workspace > wb-locals{
    flex: 1 1;
}

wb-workspace > wb-contains{
    flex: 3 1;
    overflow: auto;
}

@keyframes slidey-stripes {
    from {
        background-position-x: 32px;
    }
    to {
        background-position-x: 0;
    }
}

.debugger-paused wb-workspace > wb-contains {
    background: repeating-linear-gradient(45deg,
        rgba(34,34,34,.1),
        rgba(34,34,34,.1) 25%,
        transparent 25%,
        transparent 50%) 0 0/32px 32px repeat fixed transparent;

    animation: slidey-stripes 1.5s linear infinite;
}

/* Playground */
wb-playground{
    /*display: flex;
    flex-direction: column;
    flex: 3 1;*/
    width: 100%;
    height: 100%;
}

/*wb-playground > header{
    flex: 0 0 34px;
}*/

wb-playground > canvas{
    width: 100%;
    height: 100%;
}

/* Search */

wb-search{
    height: 0px;
}

/* ACCORDION */

wb-accordion{
    overflow: visible;
    padding-left: 6px;
}

wb-accordion[open=true] > header {
    padding-bottom: 6px;
}

wb-accordion > :not(header){
    display: none;
}

wb-accordion[open=true] > :not(header){
    display: inline-block;
    margin-bottom: 6px;
}


/* Blockbox and sidemenu */
wb-blockbox {
    width: 30%;
    margin: 10px 0 0 10px;
    border-radius: 5px;
    border: 4px #111111 outset;
}

wb-menu {
    display: block;
}

wb-blocks {
    display:none;
}

wb-blocks[open=true] {
    display:block;
}

wb-menu > header {
    display: block;
    position: relative;
    margin-left: -6px;
    padding-left: 45px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 18px;
    color: #000;
    clear: left;
    font-family: monospace;
    border: none;
}

wb-menu > header:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background-color: #CCC; /* over-ride colours in app.css */
    pointer-events: none;
}

/* Sidebar Filtering */
sidebar[filtered=true] wb-accordion > :not(header){
    display: inline-block; /*display everything*/
}

wb-blockbox[filtered=true] wb-step, wb-blockbox[filtered=true] p, wb-blockbox[filtered=true] wb-context, wb-blockbox[filtered=true] wb-expression:not([filtered=true]) {
    display: none;
}

wb-blockbox[filtered=true] wb-expression[filtered=true], wb-blockbox[filtered=true] wb-blocks {
    display: block;
}
/*
wb-blockbox[filtered=true] wb-step, wb-blockbox[filtered=true] p, wb-blockbox[filtered=true] wb-context, wb-blockbox[filtered=true] wb-expression:not([filtered=true]), wb-blockbox[filtered=true] wb-blocks > header{
    display: none!important; /* hide everything but the filtered expressions */
 /*   margin-bottom: 6px;
}

wb-blockbox[filtered=true] button.availableBlocks{
    display: block;
    position: relative;
    margin-left: -6px;
    padding-left: 45px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 16px;
    color: #000000;
    background-color: #FFFFFF;
    clear: left;
    border: 1px solid #CCC;
    margin-bottom: 6px;
    width: 100%;
}

wb-blockbox[filtered=true] button.availableBlocks:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 15px;
    height: 100%;
    background-color: #000000; /* over-ride colours in app.css*/ 
/*}*/

/* depreciated
wb-accordion > header {
    display: block;
    position: relative;
    margin-left: -6px;
    padding-left: 45px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 18px;
    color: #000;
    clear: left;
    font-family: monospace;
    border: none;
}



wb-accordion[open=true] > header{
    margin-bottom: 6px;
}

wb-accordion > header *{
    pointer-events: none;
}
*/
.cat-icon{
    width: 30px;
    height: 30px;
    display: inline;
    position: absolute;
    left: 10px;
    top: 5px;
    fill: #666;
}

.cat-icon.big-icon{
    height:26px;
    left:6px;
}

wb-accordion > header:after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    background-color: #CCC; /* over-ride colours in app.css */
    pointer-events: none;
}
