/* Custom Elements that are not necessarily Waterbear specific */

wb-search, wb-accordion{
    display: block;
}


/* test widgets */
.workspace{
    width: calc(100% - 300px);
    height: calc(100% - 16px);
    position: absolute;
    bottom: 0;
    right: 0;
}

wb-hbox, wb-vbox{
    display: inline-block;
    position: relative;
}

wb-hbox > *{
    width: 50%;
    height: 100%;
    float: left;
}

wb-hbox[split=true] > *{
    width: calc(50% - 4px);
}

wb-vbox > *{
    width: 100%;
    height: 50%;
}

wb-vbox[split=true] > *{
    height: calc(50% - 4px);
}

wb-splitter{
    display: block;
    z-index: 100;
}

wb-hbox[split=true] > wb-splitter{
    width: 8px;
    height: 100%;
    background-image: linear-gradient(90deg, transparent 4px, rgba(218, 218, 218, 0.5) 4px, transparent 5px);
    background-image-size: 8px 8px;
    cursor: ew-resize;
}

wb-vbox[split=true] > wb-splitter{
    width: 100%;
    height: 8px;
    background-image: linear-gradient(0deg, transparent 4px, rgba(218, 218, 218, 0.5) 4px, transparent 5px);
    background-image-size: 8px 8px;
    cursor: ns-resize;
}


