<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>Waterbear <?language?> playground</title>
	<?cssincludes?>
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="viewport" content="width=device-width">
	<!--link rel="apple-touch-icon-precomposed" href="icon.png"--><!-- 57x57 icon -->
	<!--link rel="apple-touch-startup-image" href="default.png"--><!-- 320x460 image -->
	<script>
		var wb = {
			scriptModified: true,
			iframeReady: false,
			autorun: true
		};
	</script>
</head>
<body class="autorun">
	<div class="titlebar">
		<img src="../../images/logo.png" />
		<h1 class="title"><?language?> playground</h1>
	</div>
	<nav class="mobilenav">
		<button class="show-files">Files</button>
		<button class="show-blocks">Blocks</button>
		<button class="show-script">Script</button>
		<button class="show-result">Result</button>
	</nav>
	<nav class="nav" role="navigation">
		<ul class="menu">
			<li>
				<button class="show-file">File&#x25BE;</button>
				<ul class="sub-menu">
					<li>
						<button class="clear_scripts">New</button>
					</li>
					<li class='separator'>
						<button class="load_from_gist">Open Gist</button>
						<ul class="sub-menu" id="recent_gists"></ul>
					</li>
					<li>
						<button class="restore_scripts">Open File</button>
					</li>
					<li class='separator'>
						<button class="save_scripts">Save Gist</button>
					</li>
					<li>
						<button class="download_scripts">Save File</button>
					</li>
				</ul>
			</li>
			<li>
				<button class="show-examples">Examples&#x25BE;</button>
				<ul class="sub-menu">
					<?examples?>
				</ul>
			</li>
			<li>
				<button class="views">View&#x25BE;</button>
				<ul class="sub-menu">
					<li>
						<button class="toggle" data-target="block_menu_wrapper">Blocks Menu</button>
					</li>
					<li>
						<button class="toggle" data-target="scripts_workspace">Scripts Workspace</button>
					</li>
					<li>
						<button class="toggle" data-target="tutorial">Tutorial</button>
					</li>
					<li>
						<button class="toggle" data-target="scratchpad">Scratchpad</button>
					</li>
					<li>
						<button class="toggle" data-target="stage">Preview</button>
					</li>
					<li>
						<button class="toggle" data-target="scripts_text_view">Text Script</button>
					</li>
					<li>
						<button class="toggle" data-target="code_map">Code Map</button>
					</li>
					<li class='separator'>
						<button class="run-scripts">Run Full Size</button>
						<button class="show-ide">Show IDE</button>
					</li>
				</ul>
			</li>
			<li>
				<button class="show-examples">Tags&#x25BE;</button>
				<ul class="sub-menu">
					<button class="toggle" data-target="tag-deprecated">Deprecated</button>
				</ul>
			</li>
			<li>
				<button class="undoAction"><i class="icon-undo"></i>Undo</button>
			</li>
			<li>
				<button class="redoAction"><i class="icon-repeat"></i>Redo</button>
			</li>
			<li>
				<button class="cmenuEnable"><i class="icon-list-alt"></i>Enable Context Menus</button>
			</li>
			<li class="escape">
				<button class="escape-embed">Open in Waterbear</button>
			</li>
			<?controls?>
		</ul>
	</nav>
	<div id="context_menu"></div>
	<div id="block_menu_load">
		Loading...
	</div>
	<div class="content">
		<div class="files">
			<button class="clear_scripts">New</button>
			<button class="load_from_gist">Open Gist</button>
			<button class="restore_scripts">Open File</button>
			<button class="save_scripts">Save Gist</button>
			<button class="download_scripts">Save File</button>
		</div>
		<div class="block_menu_wrapper">
			<div id="search">
				<form>
					<label for="search_text"><i class="icon-search"></i></label>
					<input id="search_text" type="search" placeholder="search" list="search_suggestions" />
					<input id="search_clear" type="reset" value="&#xf05c;" />
					<datalist id="search_suggestions"></datalist>
				</form>
			</div>
			<div id="search_results" class="hidden"></div>
			<div id="block_menu" class="blocks-menu"></div>
		</div>
		<div class="workspace">
			<div class="tutorial hidden">Tutorial goes here</div>
			<div class="scratchpad hidden">Scratch space, drag blocks here to re-use</div>
		</div>
		<?stage?>
		<div id="cm_container">
		<canvas id="cm_canvas"></canvas>
		<div class="code_map"></div>
		</div>
	</div>
	<svg class="sekrit-svg"><text class="resize-tester"></text></svg>
	<?jsincludes?>
</body>
</html>
