<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>iFrame Canvas</title>
    <style>
    html,body,.stage{ height: 100%; border:0; margin:0;}
    </style>
    <?cssincludes?>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-3380570-1']);
        _gaq.push(['_trackPageview']);

        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>

<body>
    <div class="stage"></div>
    <?jsincludes?>
    <script>

    window.addEventListener('message', receiveMessage, false);
    var scriptRunning = false;
    if (localStorage._storedScript){
        var script = localStorage._storedScript;
        delete localStorage._storedScript;
        scriptRunning = true;
        new Function(script)();
    }

    function receiveMessage(evt){
        try{
            var message = JSON.parse(evt.data);
        }catch(e){
            console.log('problem parsing %s', evt.data);
            return;
        }
        switch(message.command){
            case 'reset':
                console.log('reset script');
                return location.reload();
            case 'loadScript':
                if (scriptRunning){
                    localStorage._storedScript = message.script;
                    location.reload();
                }
                console.log('load script');
                scriptRunning = true;
                return new Function(message.script)();
            default: return console.log('unknown command: %o', message);
        }
    }
    window.parent.postMessage('ide-ready', '*');

    </script>
</body>
</html>
