.sprite{
    position: absolute;
    width: 150px;
    height: 120px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 3px solid rgba(0,0,0,.5);
}

i,b{
    position: absolute;
    width: 30px;
    height: 20px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

.sprite b{
    left: 10px;
    top: 10px;
    background-color: rgba(0,0,0,.2);
}

.sprite i{
    right: 10px;
    bottom: 10px;
    background-color: rgba(255,255,255,.2);
}

#sprite1{
    top: 20px;
    left: 20px;
    background-color: rgba(255,40,40,.5);
}

#sprite2{
    top: 20px;
    right: 20px;
    background-color: rgba(40,255,40,.5);
}

#sprite3{
    bottom: 20px;
    right: 20px;
    background-color: rgba(40, 40, 255,.5);
}

#sprite4{
    bottom: 20px;
    left: 20px;
    background-color: rgba(40,150,150,.5);
}

#sprite5{
    top: 50%;
    left: 50%;
    margin-left: -75px;
    margin-top: -60px;
    background-color: rgba(150,40,150,.5);
}