<script>
	function receiveMessage(event){
		wb.state.stageReady = event.data === 'ide-ready' ? true : false;
		console.log('stageReady: %s', wb.state.stageReady);
		wb.runCurrentScripts();
	}
	window.addEventListener('message', receiveMessage, false);
</script>
<div class="result">
	<div class="stage">
	<iframe class="stageframe" seamless="seamless" src="runtime.html"></iframe></div>
	<div class="scripts-text-view"></div>
</div>
<script>
	var iframe = document.querySelector('.stageframe');
	// Work around Chrome bug with iframes in flexbox
	iframe.style.height = iframe.parentElement.clientHeight + 'px';
	window.addEventListener('resize', function(evt){
		iframe.style.height = iframe.parentElement.clientHeight + 'px';
	}, false);
</script>
