/* block and border colours for different groups of blocks */


.canvas{ border-color: #e66a22; }
.canvas > .block, h3.canvas{ background-color: #e66a22; }

.gradient{ border-color: hsl(225,65%,83%); }
.gradient > .block{ background-color: hsl(225, 65%, 93%); }

.pattern{ border-color: hsl(25, 100%, 63%); }
.pattern > .block { background-color: hsl(25, 100%, 83%); }


