/* block and border colours for different groups of blocks */


.canvas, .canvas .holder{
    border-color: #e66a22;
    background-color: #e66a22;
}

.gradient, .gradient .holder{
    border-color: hsl(225,65%,83%);
    background-color: hsl(225, 65%, 93%);
}

.pattern, .pattern .holder{
    border-color: hsl(25, 100%, 63%);
    background-color: hsl(25, 100%, 83%);
}


