section{
    width: 60%;
    margin: 2em 1em;
    padding: 2em;
    background-color: rgba(255, 173, 0, .8);
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

navigation, aside{
    clear: both;
    float: right;
    width: 25%;
    background-color: rgba(255, 173, 0, .6);
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 1em;
    margin: 1em;
}


ul{
    list-style-type: none;
    padding-left: 0;
}

ul li{
    margin-bottom: .5em;
}

