.arrays, .arrays .holder{
    border-color: hsl(195, 65%, 79%);
    background-color: hsl(195, 62%, 89%);
}
.boolean, .boolean .holder{
    background-color: #FF4444;
    border-color: red;
}

/* block and border colours for different groups of blocks */


.canvas, .canvas .holder{
    border-color: #e66a22;
    background-color: #e66a22;
}

.gradient, .gradient .holder{
    border-color: hsl(225,65%,83%);
    background-color: hsl(225, 65%, 93%);
}

.pattern, .pattern .holder{
    border-color: hsl(25, 100%, 63%);
    background-color: hsl(25, 100%, 83%);
}


.color, .color .holder{
    border-color: #e77a33;
    background-color: #e77a33;
}
.controls, .controls .holder{
    border-color: hsl(44, 81%, 49%);
    background-color: hsl(44, 81%, 85%);
}

.datablock, .datablock .holder{
    border-color: hsl(150, 65%, 79%);
    background-color: hsl(150, 62%, 89%);
}.date, .date .holder{
    background-color: hsl(296, 65%, 77%);
    border-color: hsl(296, 65%, 57%);
}
.facebook, .facebook .holder{
    border-color: hsl(300, 90%, 66%);
    background-color: hsl(300, 90%, 76%);
}
.geolocation, .location, .geolocation .holder, .location .holder{
    border-color: hsl(205, 65%, 79%);
    background-color: hsl(205, 62%, 89%);
}
.images, .images .holder{
    background-color: hsl(296, 65%, 77%);
    border-color: hsl(296, 65%, 57%);
}
.math, .math .holder{
    border-color: hsl(264,62%,79%);
    background-color: hsl(264,62%,89%);
}

.number, .number .holder{
    border-color: blue;
}

.matrix, .matrix .holder{
    border-color: hsl(264,65%,83%);
    background-color: hsl(264, 65%, 93%);
}
.motion, .motion .holder{
    border-color: hsl(175, 65%, 79%);
    background-color: hsl(175, 62%, 89%);
}
.objects, .objects .holder{
    border-color: hsl(75, 90%, 66%);
    background-color: hsl(75, 90%, 76%);
}

.any, .any .holder{
    border-color: gray;
}
.paths, .paths .holder{
    border-color: hsl(156, 90%, 66%);
    background-color: hsl(156, 85%, 70%);
}
.points, .points .holder{
    border-color: hsl(90, 65%, 79%);
    background-color: hsl(90, 62%, 89%);
}

.random, .random .holder{
    border-color: hsl(85, 65%, 79%);
    background-color: hsl(85, 62%, 89%);
}
.rects, .rects .holder{
    border-color: hsl(150, 65%, 79%);
    background-color: hsl(150, 62%, 89%);
}

.sensing, .sensing .holder{
    border-color: hsl(200,98%,56%);
    background-color: hsl(200,98%,76%);
}
.shapes, .shapes .holder{
    border-color: hsl(25, 100%, 63%);
    background-color: hsl(25, 100%, 83%);
}
.sizes, .sizes .holder{
    border-color: hsl(15,100%,63%);
    background-color: hsl(15,100%,83%);
}

.twitter, .twitter .holder{
    border-color: hsl(90, 65%, 79%);
    background-color: hsl(90, 62%, 89%);
}
.sound, .sound .holder{
    border-color: hsl(225, 65%, 79%);
    background-color: hsl(225, 62%, 89%);
}
.sprites, .sprites .holder{
    border-color: hsl(120, 81%, 49%);
    background-color: hsl(120, 81%, 85%);
}

.movingsprite, .movingsprite .holder{
    border-color: hsl(150, 81%, 49%);
    background-color: hsl(150, 81%, 85%);
}.strings, .strings .holder{
    border-color: hsl(240, 65%, 83%);
    background-color: hsl(240, 65%, 93%);
}
.text, .text .holder{
    border-color: hsl(93,90%,66%);
    background-color: hsl(93,90%,76%);
}

.vectors, .vectors .holder{
    border-color: hsl(55, 81%, 49%);
    background-color: hsl(55, 81%, 85%);
}

.vector, .vector .holder{
    border-color: hsl(65, 81%, 49%);
    background-color: hsl(65, 81%, 85%);
}.voices, .voices .holder{
    border-color: hsl(120, 81%, 49%);
    background-color: hsl(120, 81%, 85%);
}

.music, .music .holder{
    border-color: hsl(150, 81%, 49%);
    background-color: hsl(150, 81%, 85%);
}