.math, .math .holder{
    border-color: hsl(93,90%,66%);
    background-color: hsl(93,90%,76%);
}
.number, .number .holder{
    border-color: blue;
}
.float, .float .holder{
    border-color: blue;
    border-style: dotted !important;
}
.int, .int .holder{
    border-color: blue;
    border-style: dashed !important;
}
