<script>
	function receiveMessage(event){
		wb.state.iframeReady = event.data === 'ide-ready' ? true : false;
		console.log('iframeReady: %s', wb.state.iframeReady);
		wb.runCurrentScripts();
	}
	window.addEventListener('message', receiveMessage, false);
</script>
<div class="results">
	<div class="stage">
	<iframe class="stageframe" seamless="seamless" src="runtime.html"></iframe></div>
	<div class="scripts_text_view"></div>
</div>
<script>
	var iframe = document.querySelector('.stageframe');
	// Work around Chrome bug with iframes in flexbox
	iframe.style.height = iframe.parentElement.clientHeight + 'px';
	window.addEventListener('resize', function(evt){
		iframe.style.height = iframe.parentElement.clientHeight + 'px';			
	}, false);
</script>
