.voices, .voices .holder{
    border-color: hsl(120, 81%, 49%);
    background-color: hsl(120, 81%, 85%);
}

.music, .music .holder{
    border-color: hsl(150, 81%, 49%);
    background-color: hsl(150, 81%, 85%);
}