/* Styles for steps and containers */
*{
  box-sizing: border-box;
}

.block, .socket, .autosocket{
  position: relative;
}

.block, .block * {
  cursor: move;
  cursor: -moz-grab;
}

.block .socket input,
.block .socket select {
	cursor: auto;
}


.blocks-menu .block * {
    pointer-events: none;
}

.scripts_workspace > .block, .submenu > .block{
  margin-bottom: 15px;
}


.submenu .seq-num{
  display: none;
}

.holder {
  display: inline-block;
  position: relative;
  padding: 0;
  margin: 0;
  border-width: 2px 0;
  border-style: solid;
}

.socket{
  position: relative;
  display: block;
  height:100%;
  vertical-align:middle;
  text-align: right;
}

.scripts_workspace > .label >  .socket{
  text-align: left;
}

.socket > *{
  height:100%;
  vertical-align:middle;
  margin:0px 5px;
  font-family: Consolas;
}

.locals{
    display: block;
    background-color: white;
    width: auto;
    position: relative;
    padding: 1px 3px 1px;
    margin: 5px 10px 10px;
    overflow: auto;
    height: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border-color: inherit;
}

.locals > .block{
    float: left;
    margin: 5px;
}

.block-menu .locals, [data-closed] .locals{
  display: none;
}



.block {
  position: relative;
  display: inline-block;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding-bottom: 1px;
  border-color: inherit;
  border-width: 2px;
  border-style: solid;
  white-space: nowrap;
  cursor: pointer;
  min-width: 75px;
  max-width: 300px;
  float: left;
  clear: left;
  overflow-x: visible;
}

.locals .expression{
  clear: none;
}

.expression.block{
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  display: inline-block;
}

.block.eventhandler{
  -webkit-border-top-right-radius: 25px;
  -webkit-border-top-left-radius: 25px;
  -moz-border-radius-topright: 25px;
  -moz-border-radius-topleft: 25px;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  padding-top: 10px;
}

.label {
  display: block;
  cursor: pointer;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  white-space: nowrap;
  margin: 0;
  padding-top: 4px;
  padding-left: 5px;
  padding-bottom: 7px;
  border-width: 0;
  border-color: inherit;
}
.eventhandler .label{
    padding-top: 5px;
    padding-bottom: 5px;
}

.block.expression > .label{
    padding: 3px 10px 3px 10px;
    margin: 1px;
}

/* For some reason this causes the blocks to slowly lose their color*/
.block .label{
/*    overflow-y: hidden;
*/}

.label.not(:first-child)
{
    padding: 5px 0 5px 10px;
    margin-top: 0;
    position: relative;
    display: block;
}

.context > .label{
    padding: 5px 20px;
    padding-bottom: 6px;
}

.block.context {
    padding-bottom: 11px;
}

.block.expression{
    border: 1px solid white;
}


.step:before, .contained:before, .step:after {
  content: '';
  display: block;
  left: 0;
  margin: 0;
  margin-left: 20px;
  margin-right: auto;
  width: 16px;
  height: 5px;
  -webkit-border-top-right-radius: 4px;
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topright: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  border-width: 2px 2px 0 2px;
  border-style: solid;
  border-color: inherit;
}

.step:before {
  position: absolute;
  top: -7px;
  left: 0;
  background-color: inherit;
}

.contained:before {
    top: -7px;
    position: absolute;
    background-color: #FFF;
    width: 20px;
}

.step:after{
    bottom: -2px;
    position: absolute;
    background-color: #FFF;
    width: 20px;
}

.eventhandler:before{
    content: none;
}

.contained {
  display: block;
  background-color: white;
  position: relative;
  padding-top: 1px;
  margin-left: 10px;
  margin-bottom: 0;
  padding-bottom: 10px;
  overflow: visible;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-bottom-left-radius: 10px;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-bottomleft: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-width: 2px 0 2px 2px;
  border-style: solid;
  border-color: inherit;
  right: -2px;
}

.contained:last-child {
    margin-bottom: 10px;
}

.contained:last-child:after{
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.block-menu .contained, [data-closed] .contained{
  display: none;
}


.block input {
  margin-left: 5px;
  width: 3em;
  margin-right: 5px;
  border: 0;
  padding: 0;
  height: 16px;
  background-color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; /* Make sure if this is changed to also change svg text font in workspace.css */
  font-size: 11px;
}


.expression.block{
    border-width: 0 2px;
    border-style: solid;
}


.selected.block{
    outline: blue ridge thick;
}

/*This class is added to the block that is bieng moved when it is aligned to snap in*/
.dragActive{
/*    background-color: green;*/
/*    A box shadow might look nice here ?*/
}

/*This class is added to the block that is moving*/
.dragIndication{
    opacity: 0.75;
    position: absolute;
    pointer-events: none;
}

/* This class is added to all potential drop targets */
.dropTarget{
    outline: yellow ridge thick;
}

/*This class is added to the block receiving the block bieng dragged.*/
.socket.selected{
    background-color: yellow;
}

/* FIXME: We don't have slot elements anymore */
.block.dropActive > .contained:before{
    background-color: yellow;
}

.socket select, .autosocket select{
    margin: 0;
}

.scripts_workspace > .block{
    display: block;
}

.block.scripts_workspace{
    width: 100%;
    height: calc(100% - 36px); /* 36px refers to height of tabbar class */
    margin: 0px;
    padding: 0px;
}
.block.scripts_workspace{
    width: 100%;
    max-width: 100%;
    border: 0;
}
.block.scripts_workspace:before{
    content: none;
}
.block.scripts_workspace > .contained{
    border: 0;
}
.block.scripts_workspace > .contained:before{
    content: none;
}
.block.scripts_workspace > .label > .block-menu {
    border: 1px solid black;
    border-radius: 5px;
}

.block.scripts_workspace:after{
  content: none;
}

.disclosure{
  width: 1em;
  height: 1em;
  margin-right: 1em;
  margin-left -1em;
  display: inline-block;
  cursor: pointer;
}

.disclosure:before{
  content: "▼"
}

[data-closed] .disclosure:before{
  content: "▶"
}

.block-menu .disclosure{
  display: none;
}

#block_menu .accordion-header.hidden,
#block_menu.settings .accordion-body,
#block_menu .accordion-header.hidden + .accordion-body {
	display: none;
}

#block_menu.settings .accordion-header.hidden {
	display:block;
	opacity:0.5;
}

/* Search filter */

#search form {
  width: 100%;
  border: 1px solid #CCC;
  display: inline-block;
  display: -webkit-inline-flex;
  display: inline-flex;
	-webkit-flex-direction: row;
  flex-direction: row;
}

#search form > * {
  border: 0;
  outline: 0;
  height: 24px;
  background-color: transparent;
}

#search form datalist {
  display: none;
}

#search form label {
  width: 20px;
  -webkit-flex: 0 0 20px;
  flex: 0 0 20px;
  text-align: center;
  color: #CCC;
}

#search form label i {
  margin: auto;
  vertical-align: middle;
}

#search_text {
  width: calc(100% - 40px);
  -webkit-flex: 0 0 auto;
  flex: 1 1 auto;
}

#search_clear {
  width: 20px;
  -webkit-flex: 0 0 20px;
  flex: 0 0 20px;
  font-family: 'FontAwesome';
  color: #CCC;
}

.search_result {
  border-left-style: solid;
  border-left-width: 4px;
  padding: 12px;
}

.search_result .keyword {
  display: block;
  color: #999;
  font-size: 0.8em;
}

.search_result .keyword .match {
  color: darkgreen;
}

.invalid{
    outline: 2px dashed red;
}
