body{
	display: -webkit-flex;
	display: flex;
   -webkit-flex-direction: column; /* works with row or column */
   flex-direction: column;
}

.content{
   display: -webkit-flex;
   display: flex;
   -webkit-flex-direction: row; /* works with row or column */
   flex-direction: row;
/*   -webkit-align-items: center;
   align-items: center;
   -webkit-justify-content: center;
   justify-content: center;
*/}

.titlebar{
	flex: 0 0 50px;
}

.nav{
	/*height: 30px;*/
	flex: 0 0 30px;
}

#block_menu{
	flex: 0 0 300px;
}

.workspace{
	flex: 1 0 0;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	-flex-direction: column;
}

.tutorial{
	flex: 1 1 auto;
	background-color: #001f3f;
}

.scratch-space{
	flex: 1 1 auto;
	background-color: #3d9970;
}

.scripts_workspace{
	flex: 3 0 auto;
	overflow: auto;
}

.results{
	flex: 0 0 400px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
}

.stage{
	flex: 1 0 0;
}

.stageframe{
	width: 100%;
	height: 100%;
}

.scripts_text_view{
	flex: 1 0 0;
	overflow: auto;
}

