/* Menu system */
ul.menu {
	background:#666;
}
/*Initialize*/
ul.menu, ul.menu ul.sub-menu {
	padding:0;
	margin: 0 0 5px 0;
}
ul.menu li, ul.menu ul.sub-menu li {
	list-style-type: none;
	display: inline-block;
}

ul.menu li.escape{
	display: none;
	position: absolute;
	right: 10px;
}

.embedded ul.menu li.escape{
	display: inline-block;
}

/*Link Appearance*/
.menu button {
	text-decoration: none;
	color: #fff;
	background: #666;
	padding: 10px;
	display:inline-block;
	min-width:60px;
	border: 0;
	margin: 0;
}
ul.menu > li > button {
	text-align:center;
}
ul.sub-menu button{
	text-align: left;
}
ul.menu li button:not(.disabled):hover, ul.menu li ul.sub-menu li button:not(.disabled):hover {
	background:#555;
}
/*Make the parent of sub-menu relative*/
ul.menu li {
	position: relative;
}
/*sub menu*/
ul.menu li ul.sub-menu {
	display:none;
	position: absolute;
	top: 32px;
	left: 0;
	z-index:1000;
	overflow-y: auto;
	overflow-x: hidden;
	max-height: 400px;
}
ul.menu li ul.sub-menu li button {
	min-width:200px;
	border-top: 1px solid black;
}
ul.menu button.disabled {
	background:#777;
}
ul.menu li:hover ul.sub-menu {
	display:block;
}
ul.menu li ul.sub-menu li.separator button {
	border-top-width: 2px;
}
	

/*sub sub menu*/
ul.menu li ul.sub-menu li ul.sub-menu {
	display:none;
	position: absolute;
	top: 0px;
	left: 200px;
	width: 100px;
	z-index:1000;
	border-left: solid 1px;
}
ul.menu li ul.sub-menu li ul.sub-menu li button {
	min-width:200px;
	border-top: 1px solid black;
}
ul.menu li ul.sub-menu li ul.sub-menu li button.disabled {
	background:#777;
}
ul.menu li ul.sub-menu li:hover ul.sub-menu {
	display:block;
}

.menu_buttons {
	display:none;
}
/* Mobile nav */
@media (max-width: 600px) {
	.nav{
		display:none;
	}
	.nav li, .nav li button {
		width:100%;

	}
	.nav li {
		border-top:1px solid black;
	}
}

.nav:target {
	display:block;
}

/* Button Menu in stage */


.run-script{
	display: inline;
}

.running .menu .run-script{
	display: none;
}

.menu .stop-script{
	display: none;
}

.running .menu .stop-script{
	display: inline;
}

.menu .autorun-script-on{
}

.no-autorun .menu .autorun-script-on{
	display: none;
}

.menu .autorun-script-off{
	display: none;
}

.no-autorun .menu .autorun-script-off{
	display: inline;
}

