/* YUI Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
 
/* Scratch Layout Styles */

html, body {
    height: 100%;
}

body {
    background-color: #FFFFFF;
}

.content{
    position: relative;
    width: 150%;
    height: 100%;
    background-color: #FFCCCC;
}

.header{
    position: absolute;
    top: 0px;
    left: 33%;
    height: 18%;
    width: 30%;
    background-color: white;
    background-color: red;
}

.header img{
    position: absolute;
    top: 0px;
    left: 0px;
}

h1{
    font-family: Georgia, serif;
    font-size: 18px;
    position: absolute;
    top: 0px;
    left: 80px;
}

.header p{
    font-family: Georgia;
    font-size: 10px;
    text-align: right;
    padding-right: 20px;
}


.motion > .block, .motion > .next > .tab, .motion > .block > .contained > .tab {
/*    background-color: #4a6cd4;*/
    border: 2px solid #4a6cd4;
}

.looks > .block, .looks > .next > .tab, .looks > .block > .contained > .tab {
/*    background-color: #8f56e3;*/
    border: 2px solid #8f56e3;
}

.sound > .block, .sound > .next > .tab, .sound > .block > .contained > .tab {
    background-color: hsla(296, 65%, 57%, .25);
    border: 2px solid hsl(296, 65%, 57%);
}

.pen > .block, .pen > .next > .tab, .pen > .block > .contained > .tab {
/*    background-color: #00a178;*/
    border: 2px solid #00a178;
}

.control > .block, .control > .next > .tab, .control > .block > .contained > .tab {
    background-color: hsla(44, 81%, 49%, .25);
    border: 2px solid hsl(44, 81%, 49%);
}

.sensing > .block, .sensing > .next > .tab, .sensing > .block > .contained > .tab {
/*    background-color: #0494dc;*/
    border: 2px solid #0494dc;
}

.operators > .block, .operators > .next > .tab, .operators > .block > .contained > .tab {
/*    background-color: #62c213;*/
    border: 2px solid #62c213;
}

.variables > .block, .variables > .next > .tab, .variables > .block > .contained > .tab {
/*    background-color: #e66a22;*/
    border: 2px solid #e66a22;
}

.workspace {
    position: absolute;
    left: 33%;
    bottom: 0px;
    width: 30%;
    height: 60%;
    background-color: #cccccc;
}

.sprite_info {
    height: 40px;
    display: none;
}

.scripts_workspace, .sounds_workspace, .costumes_workspace {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
    /*  border: 1px solid purple;*/
}

.scripts_workspace {
    display: block;
}

.stage {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30%;
    height: 58%;
    background-color: #ffffff;
}

.sprites {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 30%;
    height: 38%;
    outline: red solid thin;
    background-color: #cccccc;
}

.block_menu{
    position: absolute;
    width: 30%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #FFCCFF;
    overflow: auto;
}

.block_menu .select{
    padding: 3px 10px;
    margin-bottom: 1px;
    font-weight: bold;
    color: #333;
    background-color: #CCC;
    border: 1px solid #333;
}

.block_menu .selected{
    color: #000;
    background-color: #EEE;
}

.submenu .wrapper {
    margin-bottom: 20px;
    margin-right: 35px;
}

.submenu table{
    width: 100%;
}
