/* YUI Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}
fieldset,img { 
	border:0;
}
address,caption,cite,code,dfn,em,strong,th,var {
	font-style:normal;
	font-weight:normal;
}
ol,ul {
	list-style:none;
}
caption,th {
	text-align:left;
}
h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}
q:before,q:after {
	content:'';
}
abbr,acronym { border:0;
}
 
/* Scratch Layout Styles */

html, body {
    height: 100%;
}

body {
    background-color: #FFFFFF;
}

.content{
    position: relative;
    width: 150%;
    height: 100%;
    background-color: #FFCCCC;
}

.header{
    position: absolute;
    top: 0px;
    left: 33%;
    height: 18%;
    width: 30%;
    background-color: white;
    background-color: red;
}

.header img{
    position: absolute;
    top: 0px;
    left: 0px;
}

h1{
    font-family: Georgia, serif;
    font-size: 18px;
    position: absolute;
    top: 0px;
    left: 80px;
}

.header p{
    font-family: Georgia;
    font-size: 10px;
    text-align: right;
    padding-right: 20px;
}


.motion > .block, 
.motion > .next > .tab, 
.motion > .block > .contained > .tab,
.motion > .block > .contained,
.motion > .block > .slot {
    background-color: hsl(225, 65%, 93%);
    border: 2px solid hsl(225,65%,83%);
}

.looks > .block, 
.looks > .next > .tab, 
.looks > .block > .contained > .tab,
.looks > .block > .contained,
.looks > .block > .slot {
    background-color: hsl(264,62%,89%);
    border: 2px solid hsl(264,62%,79%);
}

.sound > .block, 
.sound > .next > .tab, 
.sound > .block > .contained > .tab,
.sound > .block > .contained,
.sound > .block > .slot {
    background-color: hsl(296, 65%, 77%);
    border: 2px solid hsl(296, 65%, 57%);
}

.pen > .block, 
.pen > .next > .tab, 
.pen > .block > .contained > .tab,
.pen > .block > .contained,
.pen > .block > .slot {
    background-color: hsl(15,100%,83%);
    border: 2px solid hsl(15,100%,63%);
}

.control > .block, 
.control > .next > .tab, 
.control > .block > .contained > .tab,
.control > .block > .contained,
.control > .block > .slot {
    background-color: hsl(44, 81%, 85%);
    border: 2px solid hsl(44, 81%, 49%);
}

.sensing > .block, 
.sensing > .next > .tab, 
.sensing > .block > .contained > .tab,
.sensing > .block > .contained,
.sensing > .block > .slot {
    background-color: hsl(200,98%,76%);
    border: 2px solid hsl(200,98%,56%);
}

.operators > .block, 
.operators > .next > .tab, 
.operators > .block > .contained > .tab,
.operators > .block > .contained,
.operators > .block > .slot {
    background-color: hsl(93,90%,76%);
    border: 2px solid hsl(93,90%,66%);
}

.variables > .block, 
.variables > .next > .tab, 
.variables > .block > .contained > .tab,
.variables > .block > .contained,
.variables > .block > .slot {
    background-color: #e66a22;
    border: 2px solid #e66a22;
}

.slot{
    background-color: white !important;
    border-top: 0 !important;
    top: -2px;
}
.tab{
    border-top: 0 !important;
}
.contained{
    background-color: white !important;
    border-right: 0 !important;
    right: -2px;
}

.workspace {
    position: absolute;
    left: 33%;
    bottom: 0px;
    width: 30%;
    height: 70%;
    background-color: #cccccc;
}

.sprite_info {
    height: 40px;
    display: none;
}

.scripts_workspace, .sounds_workspace, .costumes_workspace {
    width: 100%;
    height: 100%;
    position: relative;
    display: none;
    /*  border: 1px solid purple;*/
}

.scripts_workspace {
    display: block;
}

.tab_bar{
    position: absolute;
    left: 33%;
    bottom: 70%;
    width: 30%;
}

.chrome_tab{
    float: left;
    margin-right: 1px;
    position: relative;
    border: 2px solid #666;
    border-bottom: 0px;
    -webkit-border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    width: 24%;
    background-color: #999;
    color: #666;
}

.chrome_tab.selected{
    background-color: #cccccc;
    color: #333;
    border-color: #333;
}

.stage {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 30%;
    height: 58%;
    background-color: #ffffff;
}

.sprites {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width: 30%;
    height: 38%;
    outline: red solid thin;
    background-color: #cccccc;
}

.block_menu{
    position: absolute;
    width: 30%;
    height: 100%;
    left: 0px;
    top: 0px;
    background-color: #FFCCFF;
    overflow: auto;
}

.block_menu .select{
    padding: 3px 10px;
    margin-bottom: 1px;
    font-weight: bold;
    color: #333;
    background-color: #CCC;
    border: 1px solid #333;
}

.block_menu .selected{
    color: #000;
    background-color: #EEE;
}

.submenu .wrapper {
    margin-bottom: 20px;
    margin-right: 35px;
}

.submenu table{
    width: 100%;
}
