 html, body{
	height: 100%;
	overflow: hidden;
	background-color: #FFF;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	/*CSS rules to disable text selection highlighting*/
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,aside,section,hgroup,footer,nav,figure,header,article,input,textarea,p,blockquote,th,td {
	margin: 0;
	padding: 0;
}
img {
	border:0;
}
input{
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.scripts-text-view {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
}

.scripts-text-view, .scratchpad, .scripts-workspace, .remote{
	margin: 5px;
	border: 2px outset #333;
	padding: 10px;
}

.scripts-workspace > .label{
    display: none;
}

.stage{
	margin: 5px;
	border: 2px outset #333;
}


/* Scratch-ish Layout Styles */

.content{
	position: relative;
}


.hidden, .block.hidden{
	display: none;
}


/* ACCORDION */

.block-menu{
	/*position: relative;*/
	cursor: pointer;
	margin-top: 1px;
	/*-moz-border-radius: 4px;*/
	/*-webkit-border-radius: 4px;*/
	/*border-radius: 4px;*/
	border-width: 0;
	/*border-style: solid;*/
	/*font-weight: normal;*/
	color: #252323;
	margin: 0;
	padding: 0;
	outline: 0;
	line-height: 1.3;
}


.accordion-header{
	display: block;
	font-size: 1em;
	padding: .5em .5em .5em .7em;
}

.accordion-body{
	padding: 1em 2.2em;
	overflow: auto;
	display: none;
}

.accordion-body.open{
	display: block
}

.accordion-description{
	padding: 0em 0em 1em 0em;
	font-size: .9em;
	margin-left: -15px; /* i hate this */
}

/* SVG is in place for text-sizing only */

.sekrit-svg{
	position: absolute;
	left: -1000px; /* cannot use with display: none */
	top: 0; /* because it was screwing up layout even hidden */
	width: 400px;
	height: 100px;
}

svg text{
	/* This should be the same font used for <input> */
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 11px;
}



a.disabled {
	pointer-events: none;
	cursor: default;
}
h1.title {
	margin:0;
	display: inline;
	padding:7px;
	font-size: 20px;
	color: #fff;
	vertical-align: top;
	line-height: 34px;
}

.titlebar{
	background-color: #111111;
	color: #FFFFFF;
}

@media (max-width: 600px) {
	h1.title{
		background:#333;
		width:100%;
	}
}

/* cursor for drag and drop */

.drop-cursor {
	height: 2px;
	background-color: red;
	width: 75%;
	float: left;
}

/* Context menu */

.context-menu {
	position: absolute;
	z-index: 99;
}

.cmenu {
	margin: 0;
	padding: 0.3em 0.1em 0.3em 0.1em;
	list-style-type: none;
	background-color: white;
	text-decoration: none;
	border: solid 1px #dedede;
	border-radius: 5px;
	box-shadow: 2px 2px 2px #888;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.cmenu li {
	padding: 0em 0.2em 0em 0.2em;
}

.cmenu li.disabled {
	color: grey;
}

.cmenu li:hover:not(.disabled) {
	text-decoration: underline !important;
	background-color: #888;
	cursor: pointer;
}

.cmenu .topSep {
	border-top: 1px solid silver;
	margin-top: 0.3em;
	padding-top: 0.3em;
}
