<div class="results">
	<div class="stage">
	<div class="buttonmenu">
		<button class="icon-play run-script">Run</button>
		<button class="icon-stop stop-script">Stop</button>
		<button class="icon-check autorun-script-on">Autorun</button>
		<button class="icon-unchecked autorun-script-off">Autorun</button>
	</div>
	<iframe class="stageframe" seamless="seamless" src="runtime.html"></iframe></div>
	<div class="scripts_text_view"></div>
</div>
<script>
	var iframe = document.querySelector('.stageframe');
	function receiveMessage(event){
		wb.iframeReady = event.data === 'ide-ready' ? true : false;
	}
	window.addEventListener('message', receiveMessage, false);
	// Work around Chrome bug with iframes in flexbox
	iframe.style.height = iframe.parentElement.clientHeight + 'px';
	window.addEventListener('resize', function(evt){
		iframe.style.height = iframe.parentElement.clientHeight + 'px';			
	}, false);
</script>
