
.body1 {
	background-color: #0c76ab;
}

.waterbear {
	height:300px;
	width: 200px;
}

#section2 {
	background-color: #6567a5;
}

.img-waterblock {
	margin-top: 13px;
}

#citation {
	color: #ffffff;
}

#first-col {
	font-size: 18px;
}
#second-col {
	font-size: 18px;
}

#section3 {
	background-color: #f86960;
}

